* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(239, 239, 239);
}

a {
  text-decoration: none;
  color: black;
}

hr {
  border: none;
  border-top: 1px solid rgb(222, 222, 222);
  margin: 20px 0;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.topNavBar .logo {
  float: left;
}

.topNavBar {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.topNavBar-inner {
  padding: 0 16px;
}

.topNavBar nav {
  float: right;
  padding-top: 5px;
  padding-bottom: 3px;  
}

.topNavBar nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topNavBar nav > ul > li {
  float: left;
  margin-left: 17px;
  margin-right: 17px;
}

.topNavBar nav > ul > li > a {
  font-size: 12px;
  color: #B7B7B7;
  /* text-decoration: none; */
  font-weight: bold;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
}

.topNavBar nav > ul > li > a:hover {
  border-bottom: 3px solid #E06567;
}

.topNavBar .logo {
  font-family: "Arial Black";
  font-size: 24px;
  padding-top: 3px;
  padding-bottom: 4px;
}

.topNavBar  .logo .rs {
  color: #E6686A;
  margin-right: 4px;
}

.topNavBar .logo .card {
  color: #9A9DA2;
}

.banner {
  background: url("./imgs/rs-cover.jpg");
  height: 515px;
  background-position: center center;
  background-size: cover;
}

.banner-mask {
  height: 515px;
  background: rgba(0, 0, 0, 0.8);
}

.userCard {
  max-width: 940px;
  /* border: 1px solid red; */
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

.userCard .text > .welcome {
  background-color: rgb(230, 104, 106);
  color: white;
  padding: 4px 16px;
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
}

.userCard .text .triangle {
  display: block;
  width: 0;
  border: 10px solid transparent;
  border-top-width: 0;
  border-left-color: rgb(230, 104, 106);
  position: absolute;
  left: 4px;
  top: 100%;
}

.userCard .picture,
.userCard .text {
  float: left;
}

.userCard .pictureAndText {
  /* margin: 50px; */
  padding: 50px; /*注意这里用padding,用了margin父元素不会包裹这个元素的margin，而padding是可以的*/
}

.userCard .text {
  width: 470px;
  margin-left: 65px;
}

.userCard .text h1 {
  margin-top: 18px;
}

.userCard .text dt,
.userCard .text dd {
  float: left;
  margin: 8px 0;
}

.userCard .text dt {
  width: 30%;
  font-weight: bold;
}

.userCard .text dd {
  width: 70%;
  color: rgb(157, 160, 167);
}

.userCard .media {
  background: rgb(230, 104, 106);
  text-align: center;
}

.userCard .media a {
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  line-height: 30px;
  padding: 5px 0;
  margin: 16px;
}

.userCard .media a:hover {
  background-color: rgb(207, 93, 95);
}

.userCard .media svg {
  width: 30px;
  height: 30px;
  fill: white;
  vertical-align: top;
}

body > main {
  margin-top: -340px;
}

main .download-wrapper {
  
  text-align: center;
}

main .download {
  font-size: 14px;
  border: 1px solid rgb(205, 207, 209);
  border-radius: 2px;
  padding: 20px 58px;
  margin: 32px 0;
  display: inline-block;
  transition: box-shadow  .2s;
}

main .download:hover {
  box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.2);
}

.selfIntroduction  {
  text-align: center;
  font-size: 16px;
}

section.skills,
section.portfolio {
  max-width: 940px;
  margin: 60px auto;
}

.skills h2,
.portfolio h2 {
  font-weight: bold;
  text-align: center;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
}

.skills ol {
  background: white;
  margin-top: 30px;
  padding: 44px 50px 10px;
}

.skills ol h3 {
  font-size: 14px;
  line-height: 11px;
}

.skills ol li {
  float: left;
  width: 48%;
  box-sizing: border-box;
}

.skills ol li:nth-child(even) {
  float: right;
}

.skills ol .progressBar {
  height: 5px;
  background: rgb(250, 225, 225);
  border-radius: 2px;
  margin: 6px 0 38px;
}

.skills ol .progress {
  height: 100%;
  width: 30%;
  background: rgb(230, 104, 106);
  border-radius: 2px;
}

.portfolio {
  text-align: center;
}

.portfolio nav {
  display: inline-block;
  vertical-align: top;
  margin-top: 32px;
}

.portfolio ol {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.portfolio ol li {
  float: left;
  margin-left: 42px;
}

.portfolio ol li:first-child {
  margin-left: 0;
}

.portfolio .bar {
  height: 5px;
  border-radius: 2px;
  background: white;
}

.portfolio .bar-inner {
  height: 100%;
  border-radius: 2px;
  transition: all .5s;
}

.portfolio .bar.state-1 .bar-inner {
  margin-left: 0;
  width: 40px;
  background: rgb(230, 104, 106);
}

.portfolio .bar.state-2 .bar-inner {
  margin-left: 66px;
  width: 50px;
  background: rgb(230, 104, 106);
}

.portfolio .bar.state-3 .bar-inner {
  margin-left: 142px;
  width: 96px;
  background: rgb(230, 104, 106);
}

.portfolio .works {
  height: 597px;
  position: relative;
  margin-top: 28px;
}

.portfolio .works > div {
  float: left;
  position: absolute;
}